.title{
    color: rgb(202, 64, 15);
}
.Container{
    background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8f8f8, #2886d8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #147cd7);
    font-size: 1.4rem;
}
.heroSection{
    background: transparent
}